<nav class="navbar navbar-expand-lg bg-body-tertiary">
		  <div class="container-fluid">
		    <a class="navbar-brand text-decoration-none text-dark" href="https://mattprofe.com.ar/alumno/3890/app-estacion/panel">AppEstacion</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a class="nav-link active text-dark" aria-current="page" href="https://mattprofe.com.ar/alumno/3890/app-estacion/administrator/map">Mapa de usuarios</a>
		        <a class="nav-link active text-danger" aria-current="page"  id="cerrar__sesion">Cerrar Sesion</a>

		      </div>
		    </div>
		  </div>
		</nav>