<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Panel | AppEstacion</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	@component: DEFAULT_LINK ~}
</head>
<body>
	<content class="">
		<div class="container-md p-5 d-flex justify-content-center flex-column">
			<h1 class="text-center">Bienvenido a app estaciones</h1>
			<div class="description px-5 d-flex pb-3">
				<img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Stevenson_screen_exterior.JPG" class="img-thumbnail" alt="..." style="height:400px;">
				<p class="p-5">
					<b>App-estacion</b> es tu portal en línea para acceder a datos meteorológicos precisos y actualizados en tiempo real. Nuestra plataforma te brinda una interfaz amigable y fácil de usar para mantenerte informado sobre las condiciones meteorológicas en tu ubicación o en cualquier parte del mundo. Ya sea que necesites planificar tus actividades al aire libre, estar al tanto de las condiciones climáticas para tu viaje o simplemente satisfacer tu curiosidad por el clima, App-estacion tiene todo lo que necesitas.istara las estaciones meteorologicas construidas por Matias Baez cada una de ellas mostrara graficos sobre las fluctuaciones en la temperatura, humedad, probabilidad de incencios y presion del viento.
				<a type="button" href="{{URL_APP}}/panel" class="btn btn-primary mx-5 mt-3">Ver mas</a>
					
				</p>
				
			</div>
			<h3>Caracteristicas</h3>
			<div class="carac">
				<ol class="list-group list-group-numbered">
				
				
			<li class="list-group-item">
			Información Precisa en Tiempo Real: App-estacion se conecta con estaciones meteorológicas confiables en todo el mundo para proporcionarte datos precisos y actualizados sobre temperaturas, humedad, velocidad del viento, precipitación y más.
			</li>
			<li class="list-group-item">
			Predicciones Meteorológicas: No solo te ofrecemos datos actuales, sino que también puedes consultar pronósticos a corto y largo plazo para estar preparado para lo que viene.
			</li>
				

			<li class="list-group-item">
			Interfaz Intuitiva: Navegar por App-estacion es sencillo y amigable. Puedes buscar fácilmente ubicaciones, alternar entre unidades de temperatura y velocidad del viento, y personalizar tu experiencia.

			</li>

			<li class="list-group-item">
			Historial y Gráficos: Accede al historial de datos meteorológicos para una ubicación específica y visualiza gráficos que te ayudarán a comprender las tendencias climáticas.

			</li>
			 
			<li class="list-group-item">
			Alertas Meteorológicas: Mantente seguro con alertas personalizables que te informarán sobre condiciones climáticas extremas en tu área.
			</li>

			<li class="list-group-item">
			Compatibilidad Móvil: Accede a App-estacion desde tu smartphone o tablet para obtener información meteorológica sobre la marcha.
			</li>
			<li class="list-group-item">
			Gratuito y Sin Registro Obligatorio: App-estacion es completamente gratuito y no requiere registro, lo que significa que puedes acceder a la información meteorológica sin complicaciones.
			</li>
			</ol>
 

			</div>
			<a type="button" href="{{URL_APP}}/panel" class="btn btn-primary mx-5 mt-3">Ir al panel</a>
		</div>

	</content>

</body>
</html>