<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recovery | AppEstacion</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	@component: DEFAULT_LINK ~}
</head>
<body>
	<content class="">
		<form id="main__form" class="mb-3 container-sm  p-5">
			<h1>Reiniciar Contraseña</h1>
			<h2 style="color:green;" id="notify__value"></h2>
		    <div class="mb-3">
		    	<label class="form-label">Email</label>
		    	<input type="email" class="form-control" id="email__input" name="email">
		    </div>
			<button type="submit" id="main__button" class="container-fluid btn btn-primary mb-3">Restablecer Contraseña</button>
			<div class="d-flex flex-column gap-3">
						<a href="{{URL_APP}}/login">¿Recordaste tu contraseña? Ingresa</a>

			</div>
		  	
		</form>
	</content>
	<script src="{{URL_APP}}/js/recovery.js"></script>

</body>
</html>