<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Panel | AppEstacion</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="{{URL_APP}}/css/styles.css">
</head>
<body>
	<content>
		<h1>Registrarse en App Estacion</h1>
		<h2 style="color:green;" id="notify__value"></h2>
		<form action="" id="main__form">
			<label for="">
				Email
				<input type="email" id="email__input" name="email">
			</label>
			<label for="">
				Contraseña
				<input type="password" id="password__input" name="password">
			</label>
			<label for="">
				Repetir Contraseña
				<input type="password" id="repeat__input" name="repeat_password">
			</label>
			<input type="submit" value="Iniciar Secion" id="main__button">
		</form>
		<a href="{{URL_APP}}/login">¿Ya tenes una cuenta? Ingresa</a>

		

	</content>
	<script src="{{URL_APP}}/js/register.js"></script>

</body>
</html>