<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Panel | AppEstacion</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="{{URL_APP}}/css/styles.css">
</head>
<body>
	<content>
		<h1>Se activo tu cuenta ahora debes <a href="{{URL_APP}}/login">Iniciar Sesion</a></h1>


	</content>

</body>
</html>